<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QTS - Editar Curso</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% extends "base.html" %}

{% block title %}Editar Curso{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Editar Curso</h1>
        <form method="post">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{ curso[1] }}" required>
            </div>
            <div class="form-group">
                <label for="duracao">Duração:</label>
                <input type="text" class="form-control" id="duracao" name="duracao" value="{{ curso[2] }}" required>
            </div>
            <div class="form-group">
                <label for="disciplinas">Disciplinas:</label>
                <div id="disciplinas-container">
                    {% for disciplina in disciplinas %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="disciplina{{ disciplina[0] }}" name="disciplinas[]" value="{{ disciplina[0] }}" {% if disciplina[0] in curso_disciplinas_ids %}checked{% endif %}>
                            <label class="form-check-label" for="disciplina{{ disciplina[0] }}">{{ disciplina[1] }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Salvar</button>
        </form>
    </div>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
