.custom-navbar {
    background-color: white; /* Cor de fundo */
    color: black; /* Cor do texto */
    border-bottom: 3px solid #be242d;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #be242d; /* Cor do texto */
}

.custom-navbar .nav-link:hover {
    color: #be242d; /* Cor do texto ao passar o mouse */
}

/* Estilo base para todos os botões */
.btn-periodo {
    background-color: #f8f9fa; /* Cor de fundo padrão */
    color: #000; /* Cor do texto padrão */
    border: 1px solid #ddd; /* Borda padrão */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remover sublinhado */
    display: inline-block; /* Display inline */
    margin: 4px 2px; /* Margens */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
    font-size: 16px; /* Tamanho da fonte */
}

/* Estilo para botões ativos */
.btn-periodo.active {
    background-color: #be242d; /* Cor de fundo para botão ativo */
    color: #fff; /* Cor do texto para botão ativo */
    border: 1px solid #be242d; /* Borda para botão ativo */
}

.btn-adicionar{
        background-color: #be242d; /* Cor de fundo para botão ativo */
        color: white;
}

.thead{
    background-color: #223339 !important;
}

.thead th{
    color: white !important;
}

.button-gap {
    margin-right: 10px; /* Ajuste o valor conforme necessário */
}

/* Estilo personalizado para o botão de navbar */
.custom-navbar-toggler {
    background-color: #ffffff; /* Cor de fundo branca */
    border: #be242d; /* Remover borda padrão */
}

.custom-navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(190, 36, 45, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Ícone personalizado (vermelho) */
}





