.custom-navbar {
    background-color: white; /* Cor de fundo */
    color: black; /* Cor do texto */
    border-bottom: 3px solid #be242d;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #be242d; /* Cor do texto */
}

.custom-navbar .nav-link:hover {
    color: #be242d; /* Cor do texto ao passar o mouse */
}

/* Estilo base para todos os botões */
.btn-periodo {
    background-color: #f8f9fa; /* Cor de fundo padrão */
    color: #000; /* Cor do texto padrão */
    border: 1px solid #ddd; /* Borda padrão */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remover sublinhado */
    display: inline-block; /* Display inline */
    margin: 4px 2px; /* Margens */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
    font-size: 16px; /* Tamanho da fonte */
}

/* Estilo para botões ativos */
.btn-periodo.active {
    background-color: #be242d; /* Cor de fundo para botão ativo */
    color: #fff; /* Cor do texto para botão ativo */
    border: 1px solid #be242d; /* Borda para botão ativo */
}

.btn-adicionar{
        background-color: #be242d; /* Cor de fundo para botão ativo */
        color: white;
}

.thead{
    background-color: #223339 !important;
}

.thead th{
    color: white !important;
}

.button-gap {
    margin-right: 10px; /* Ajuste o valor conforme necessário */
}


